* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2f1c1c;
  width: 100%;
  height: 100vh;
  display: grid;
}

header {
  width: 90%;
  margin: 0 auto;
  background-color: transparent;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamberger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -999%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #1a0404;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
}

nav-item {
  margin: 16px 0;
}

.nav-menu.active {
  left: 0;
}

/* Start contact */

form {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

label {
  margin-top: 1%;
  margin-bottom: 1%;
}

#submit {
  color: white;
  margin-top: 1%;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
}

#hero {
  width: 90%;
  margin: 0 auto;
  min-height: 80vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .content {
  width: 50%;
  text-align: justify;
}
#hero .content h2 {
  margin: 15px 0 20px 0;
}
#hero .image {
  width: 25%;
  border-radius: 50px;
  position: relative;
}

#hero .image img {
  position: relative;
  width: 100%;
}

#second {
  margin-top: 50px;
  width: 90%;
  margin: 0 auto;
  min-height: 80vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#second .image {
  width: 50%;
  position: relative;
}

#second .image img {
  position: relative;
  width: 100%;
  height: 60vh;
}
#second .content {
  width: 40%;
}
#second .content p {
  margin-bottom: 20px;
}
#second .content a {
  font-size: 20px;
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 5px;
}

footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
    bottom: -89%;
}

footer div a {
  font-size: 600;
  color: #000;
  margin-left: 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#faq .hero h1 {
  font-size: 30px;
  font-weight: 900;
}
#faq .hero h3 {
  font-size: 20px;
  text-align: justify;
}
:root {
  --principal-color: #0d0e0f;
  --secondary-color: #6f7277;
  --third-color: #e3efd5;
}

#faq .contentBox {
  position: relative;
  margin: 10px 0;
}
#faq .contentBox .title {
  position: relative;
  align-items: center;
  position: relative;
  padding: 10px;
  background-color: var(--third-color);
  color: #000;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}
#faq .contentBox .title::before {
  content: "+";
  color: var(--secondary-color);
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
}
#faq .contentBox .content {
  text-align: justify;
  position: relative;
  background-color: var(--third-color);
  border: 2px solid var(--secondary-color);
  height: 0;
  overflow: hidden;
  overflow-y: auto;
  font-size: 20px;
  color: var(--secondary-color);
  font-weight: 700;
}
#faq .contentBox.active .title {
  background-color: var(--secondary-color);
  color: #fff;
  transition: 1s;
}
#faq .contentBox.active .content {
  height: auto;
  padding: 20px 10px;
}

#faq .contentBox.active .title::before {
  content: "-";
  color: #fff;
}

@media (max-width: 768px) {
  #hero {
    /* height: auto; */
    flex-wrap: wrap;
  }
  #hero .content {
    width: 100%;
  }
  #hero .image {
    width: 100%;
  }

  #hero .image img {
    width: 100%;
    height: 200px;
  }

  #second {
    /* height: auto; */
    flex-wrap: wrap;
    margin-top: 100px;
  }
  #second .content {
    width: 100%;
  }
  #second .image {
    width: 100%;
  }

  #second .image img {
    width: 100%;
    height: 200px;
  }
}

/* blog section  */

.titer {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #2f1c1c;
  height: 100%;
  width: 100%;
}
.veux {
  width: 60%;
}
.titer0 {
  font-size: 15px;
  color: darkgray;
  padding: 30px;
}
.titer1 {
  font-weight: bold;
  color: black;
  padding: 30px;
}
.veux h1 {
  font-size: 2em;
}

.titer2 {
  font-size: 15px;
  color: darkgray;
  margin-top: 20px;
  padding: 30px;
}
.recharcher {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.recharcher input {
  width: 100%;
  height: 30px;
  background-color: #e6e1e1;
}
.recharcher input::placeholder {
  padding: 20px;
}
.Servise {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Servise p {
  padding: 30px 0px;
}
.card {
  width: 500px;
  background-color: #2f1c1c;
  padding: 80px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
img {
  width: 500px;
}
.card button {
  background-color: black;
  color: white;
  width: 95px;
  height: 30px;
}

/* about */

.about {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: space-between;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons i {
  margin-left: 10px;
}

i.hidden {
  display: none;
}
input,
select,
textarea {
  width: 300px;
}

/* contact  */

.input-hold {
  padding: 10px;
  margin-bottom: 10px;
}

#sub {
  padding: 10px 20px;
  background-color: #000;
  cursor: pointer;
}
.dep {
  padding-top: 250px;
}
